<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/normalize-css.css">
	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/main.css">
	<title>Login</title>
</head>
<body>
	<div class="container">
		<h1>Login</h1>
		<form class="form_2">
			<input class="username" type="text" required placeholder="Username...">
			<button class="button" type="submit">Submit</button>
		</form>
	</div>

	<script src="/js/auth_dom.js"></script>

</body>
</html>